/*
----------
RESET
----------
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*
----------
COMMON
----------
*/
a {
  color: white;
  text-decoration: none;
}

/*
----------
HEADER
----------
*/
header {
  height: 40px;
  display: flex;
  justify-content: end;
  align-items: center;
  color: white;
  background-color: black;
  padding-top: 10px;
  padding-right: 10px;
  gap: 5px;
}

.speaker-view,
.maximize {
  background-color: #4a4a4a;
  padding: 5px;
  border-radius: 5px;
}

/*
----------
MAIN
----------
*/
main {
  height: calc(100vh - 120px);
  background-color: black;
  overflow-y: scroll;
}

.container {
  max-width: 90vw;
  margin: 40px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.user {
  width: 188px;
  position: relative;
}

.user img {
  width: 100%;
  display: block;
}

.user-name {
  padding: 5px;
  font-size: 12px;
  color: white;
  background-color: rgba(0, 255, 0, 0.2);
  width: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
}
/*
----------
FOOTER
----------
*/
footer {
  height: 80px;
  background-color: #222222;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.footer-right,
.footer-left {
  width: 10%;
}

.footer-center {
  width: 50%;
  display: flex;
  justify-content: center;
}

.footer-left {
  display: flex;
}

.footer-right {
  background-color: #4a4a4a;
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 15px;
}

.full-icon {
  display: flex;
  align-items: center;
  padding-left: 10px;
  gap: 10px;
}

.icon {
  display: inline-block;
  text-align: center;
}

.symbol {
  font-size: 25px;
}

.icon-name {
  font-size: 14px;
}

.symbol.share a {
  color: #4bc800;
}

.footer-right a {
  color: red;
}

.full-icon:hover a {
  color: aqua;
}

.full-icon:hover .icon-name {
  color: aqua;
}
